
h1{
    font-family: "Caveat",cursive;
    color:royalblue;
    margin-top: -50px;
}

.undertitle{
    color: grey;
    margin-top: -30px;
}

h2{
    font-family: "Caveat",cursive;
    color: white;
    
}

body{
    background: white;
    margin: 50px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.block{
    display: flex;
    max-width: 1920px;
}


